*
{
    margin :0px;
    padding :0px;
}
body{
    height :50vw;
    width :100vw;
    background-image:url(./photo.jpg);
    background-size:100% 100%;
}
.keys{
    width:100%;
    position:relative;
    top : 32vh;
    height: 20vh;
    display: flex;
    margin: 0 auto;
    border: 2px solid red;
    justify-content: space-evenly;
    align-items: center ;
}
.key
{
    width: 9%;
    height: 80%;
    /* background-color: #fff; */
    border-radius: 0.5rem;
    border : 0.4rem solid grey;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.07s ease;
}
kbd
{
    display: block;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    font-weight: bold
}
span
{
    font-size: 1rem;
    color:yellow;
    text-transform: uppercase;
    display: block;
    margin-top: 0.4rem;
}
.playing{
    transform: scale(1.1);
    border-color : #fcc600;
    box-shadow: 0 0 1rem #fcc600;
}
